---
import { markdownify } from "@/lib/utils/textConverter";
import { Image } from "astro:assets";
const { banner } = Astro.props;
const { title, secondTitle, button, image, content, badges } = banner;
---

<section class="section banner relative bg-primary overflow-hidden p-0 h-[100svh]">
  <div
    class="social-media hidden md:flex gap-2 absolute flex-col h-full justify-around top-0 left-0 p-16 px-10 pt-32"
  >
    <a href="#" class="social-media-link text-white">Facebook</a>
    <a href="#" class="social-media-link text-white">YouTube</a>
    <a href="#" class="social-media-link text-white">Instagram</a>
  </div>
  <div class="grid gap-5 max-w-[1200px] mx-auto grid-cols-[0.65fr_0.35fr] h-full">
    <div class="left flex flex-col gap-6 pt-32 md:pl-[106px] px-5 pb-16 z-10 md:mt-0 mt-5">
      <div>
        <h1
          class="banner-title text-white md:text-7xl text-4xl text-wrap font-header"
          set:html={markdownify(title)}
        />
        <h1
          class="banner-title text-[#FFFAC3] md:text-7xl text-4xl text-wrap font-header"
          set:html={markdownify(secondTitle)}
        />
      </div>

      <p class="text-white w-80" set:html={markdownify(content)} />

      {
        button.enable && (
          <a
            class="w-fit btn btn-outline-white text-white hover:bg-white hover:text-black"
            href={button.link}
          >
            {button.label}
          </a>
        )
      }
      <div class="badge-wrapper max-w-[400px] md:mt-0 mt-20">
        <Image
          src={badges}
          class="object-cover object-center w-full"
          alt="badges"
          width={400}
          height={100}
        />
      </div>
    </div>
    <div
      class="right md:relative pt-32 md:pr-[50px] flex justify-center items-center absolute inset-0 z-0 md:opacity-100 opacity-30"
    >
      <div
        class="image-wrapper relative z-20 w-full h-full flex justify-center"
      >
        <Image
          class="object-cover object-top h-full absolute bottom-0 md:right-0 right-[-20%] w-full"
          alt="banner"
          src={image}
          width={250}
          height={500}
        />
      </div>
    </div>
  </div>
</section>

<style>
  .image-wrapper::before {
    filter: blur(100px);
    position: absolute;
    content: "";
    border-radius: 9999px;
    background-color: #fffac3;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
  .social-media-link {
    writing-mode: vertical-lr;
  }
</style>
