---
import viewsFormat from "../../lib/utils/viewFromat";
const { videos, background } = Astro.props;
const { data, title } = videos;
---

<section
  class="home-section"
  style={{
    backgroundColor: background,
  }}
>
  <div class="home-section-content max-width-large-2 header-gap flex flex-col">
    <h2 class="home-section-header place-left ml-4">
      {title || "Latest Videos"}
    </h2>
    <div class="flex overflow-x-auto gap-5 2md:gap-6 xl:gap-7 flex-shrink-0 p-4 -mt-4">
      {
        data.map((item: any) => {
          return (
            <div class="bg-white min-w-[275px] sm:min-w-[300px] 2md:min-w-[380px] rounded-lg overflow-hidden shadow-medium-light flex flex-col">
              <img
                class="w-full h-[150px] xm:h-[175px] 2md:h-[195px] object-cover"
                src={item.image}
                alt="Video Thumbnail"
              />
              <div class="flex flex-col gap-3 2md:gap-4 p-4 bg-slate-300/30 flex-grow justify-between">
                <a
                  href={item.link}
                  class="text-[1rem] sm:text-[1.1rem] line-clamp-2 text-ellipsis 2md:text-[1.2rem] lg:text-[1.25rem] leading-[1.25rem] sm:leading-[1.5rem] 2md:leading-[1.75rem] font-semibold font-montserrat text-gray-700"
                >
                  {item.title}
                </a>
                <div class="flex items-center font-medium gap-5 justify-between leading-none text-gray-500 text-[0.875rem]">
                  <span>{item.time}</span>
                  <span>{viewsFormat(item.views)} views</span>
                </div>
              </div>
            </div>
          );
        })
      }
    </div>
  </div>
</section>
