---
import SocialItem from "../function-components/SocialItem.jsx";

interface Link {
  platform: string;
  link: string;
}

const { links } = Astro.props as { links: Link[] };

const linksObj = links.reduce<Record<string, string>>(
  (acc, { platform, link }) => {
    acc[platform] = link;
    return acc;
  },
  {},
);

const {
  facebook,
  twitter,
  mastodon,
  instagram,
  youtube,
  linkedin,
  github,
  gitlab,
  discord,
  slack,
  medium,
  codepen,
  bitbucket,
  dribbble,
  behance,
  pinterest,
  soundcloud,
  tumblr,
  reddit,
  vk,
  whatsapp,
  snapchat,
  vimeo,
  tiktok,
  foursquare,
  rss,
  email,
  phone,
  address,
  skype,
  website,
  x,
} = linksObj;
---

<div class="flex gap-7 flex-wrap justify-center">
  {
    facebook && (
      <SocialItem platform={"facebook"} link={facebook} label={"Facebook"} />
    )
  }
  {
    instagram && (
      <SocialItem platform={"instagram"} link={instagram} label={"Instagram"} />
    )
  }
  {x && <SocialItem platform={"x"} link={x} label={"X"} />}
  {
    linkedin && (
      <SocialItem platform={"linkedin"} link={linkedin} label={"LinkedIn"} />
    )
  }
  {
    youtube && (
      <SocialItem platform={"youtube"} link={youtube} label={"YouTube"} />
    )
  }
  {email && <SocialItem platform={"email"} link={`mailto:${email}`} label={"Email"} />}
</div>
