---
import { markdownify } from "@/lib/utils/textConverter";

const { posts, links } = Astro.props;

// Fix-Later-1: move this to a separate file
const socialColorMap = {
  default: "#FF3D54", // primary: red
  facebook: "#1877f2",
  instagram: "#e1306c",
  twitter: "#1DA1F2",
  youtube: "#FF0000",
  linkedin: "#0A66C2",
} as any;

const getSocialLink = (platform: string) => {
  return links.find((link: any) => link.platform === platform)?.link || "#";
};
---

<!-- <div class="flex justify-between gap-5"> -->
<div class="flex gap-10 flex-wrap justify-center">
  {
    posts.map((post: any, i: number) => (
      <div class="relative flex bg-cover bg-center h-64 w-64 overflow-hidden rounded-xl">
        <img
          src={post.image}
          alt="career"
          class="w-full h-full object-cover brightness-50 relative z-10"
        />
        <div class="absolute bottom-0 left-0 p-4 w-full z-20">
          <a
            href={getSocialLink(post.platform)}
            class={`text-white bg-white rounded-2xl inline-block text-xs p-1 px-2 mb-3 capitalize`}
            style={`background-color: ${socialColorMap[post.platform] || socialColorMap.default};`}
            target="_blank"
          >
            {post.platform}
          </a>
          <a
            href={post.link}
            class="caption content leading-tight text-white font-montserrat font-medium tracking-wide line-clamp-2"
            set:html={markdownify(post.caption)}
            target="_blank"
            rel="noopener noreferrer"
          ></a>
        </div>
      </div>
    ))
  }
</div>
