---
import {
  IoCall,
  IoGlobeOutline,
  IoLocation,
  IoLogoBehance,
  IoLogoBitbucket,
  IoLogoCodepen,
  IoLogoDiscord,
  IoLogoDribbble,
  IoLogoFacebook,
  IoLogoFoursquare,
  IoLogoGithub,
  IoLogoGitlab,
  IoLogoInstagram,
  IoLogoLinkedin,
  IoLogoMastodon,
  IoLogoMedium,
  IoLogoPinterest,
  IoLogoReddit,
  IoLogoRss,
  IoLogoSkype,
  IoLogoSlack,
  IoLogoSnapchat,
  IoLogoSoundcloud,
  IoLogoTiktok,
  IoLogoTumblr,
  IoLogoTwitter,
  IoLogoVimeo,
  IoLogoVk,
  IoLogoWhatsapp,
  IoLogoYoutube,
  IoMail,
} from "react-icons/io5";
import { RiTwitterXFill } from "react-icons/ri";

interface Link {
  platform: string;
  link: string;
}

const { links } = Astro.props as { links: Link[] };

const linksObj = links.reduce<Record<string, string>>(
  (acc, { platform, link }) => {
    acc[platform] = link;
    return acc;
  },
  {},
);

const {
  facebook,
  twitter,
  mastodon,
  instagram,
  youtube,
  linkedin,
  github,
  gitlab,
  discord,
  slack,
  medium,
  codepen,
  bitbucket,
  dribbble,
  behance,
  pinterest,
  soundcloud,
  tumblr,
  reddit,
  vk,
  whatsapp,
  snapchat,
  vimeo,
  tiktok,
  foursquare,
  rss,
  email,
  phone,
  address,
  skype,
  website,
  x,
  mail,
} = linksObj;

---

<div class="flex gap-7 flex-wrap justify-center">
  {
    facebook && (
      <a href={facebook} class="flex gap-3 items-center" target="_blank">
        <IoLogoFacebook size={35} color="rgb(60,60,255)" />
        <span class="text-lg text-black">Facebook</span>
      </a>
    )
  }
  {
    instagram && (
      <a href={instagram} class="flex gap-3 items-center" target="_blank">
        <svg
          class="w-[30px]"
          xmlns="http://www.w3.org/2000/svg"
          xml:space="preserve"
          viewBox="0 0 16 16"
          id="instagram"
        >
          <linearGradient
            id="a"
            x1="1.464"
            x2="14.536"
            y1="14.536"
            y2="1.464"
            gradientUnits="userSpaceOnUse"
          >
            <stop offset="0" stop-color="#FFC107" />
            <stop offset=".507" stop-color="#F44336" />
            <stop offset=".99" stop-color="#9C27B0" />
          </linearGradient>
          <path
            fill="url(#a)"
            d="M11 0H5a5 5 0 0 0-5 5v6a5 5 0 0 0 5 5h6a5 5 0 0 0 5-5V5a5 5 0 0 0-5-5zm3.5 11c0 1.93-1.57 3.5-3.5 3.5H5c-1.93 0-3.5-1.57-3.5-3.5V5c0-1.93 1.57-3.5 3.5-3.5h6c1.93 0 3.5 1.57 3.5 3.5v6z"
          />
          <linearGradient
            id="b"
            x1="5.172"
            x2="10.828"
            y1="10.828"
            y2="5.172"
            gradientUnits="userSpaceOnUse"
          >
            <stop offset="0" stop-color="#FFC107" />
            <stop offset=".507" stop-color="#F44336" />
            <stop offset=".99" stop-color="#9C27B0" />
          </linearGradient>
          <path
            fill="url(#b)"
            d="M8 4a4 4 0 1 0 0 8 4 4 0 0 0 0-8zm0 6.5A2.503 2.503 0 0 1 5.5 8c0-1.379 1.122-2.5 2.5-2.5s2.5 1.121 2.5 2.5c0 1.378-1.122 2.5-2.5 2.5z"
          />
          <linearGradient
            id="c"
            x1="11.923"
            x2="12.677"
            y1="4.077"
            y2="3.323"
            gradientUnits="userSpaceOnUse"
          >
            <stop offset="0" stop-color="#FFC107" />
            <stop offset=".507" stop-color="#F44336" />
            <stop offset=".99" stop-color="#9C27B0" />
          </linearGradient>
          <circle cx="12.3" cy="3.7" r=".533" fill="url(#c)" />
        </svg>
        <span class="text-lg text-black">Instagram</span>
      </a>
    )
  }
  {
    x && (
      <a href={x} class="flex gap-3 items-center" target="_blank">
        <RiTwitterXFill size={30} color="black" />
        <span class="text-lg text-black">X</span>
      </a>
    )
  }
  {
    linkedin && (
      <a href={linkedin} class="flex gap-3 items-center" target="_blank">
        <IoLogoLinkedin size={30} color="rgb(40 104 225)" />
        <span class="text-lg text-black">Linkedin</span>
      </a>
    )
  }
  {
    youtube && (
      <a href={youtube} class="flex gap-3 items-center" target="_blank">
        <IoLogoYoutube size={30} color="red" />
        <span class="text-lg text-black">YouTube</span>
      </a>
    )
  }
  {
    mail && (
      <a href={mail} class="flex gap-3 items-center" target="_blank">
        <IoMail size={30} color="#6B46C1" />
        <span class="text-lg text-black">Mail</span>
      </a>
    )
  }
</div>
