---
import { markdownify, markdownifyBlock } from "@/lib/utils/textConverter";
import { Image } from "astro:assets";
import { createElement } from "react";
import { FaBlog } from "react-icons/fa";
import LinkIconMap from "@/layouts/function-components/LinkIconMap";
import MainLink from "../MainLink.astro";
import { datetimeRegex } from "astro:schema";

const { about } = Astro.props;
const {
  title,
  secondTitle,
  sideText,
  description,
  main_links_group,
  info_section
} = about;

---

<section class="home-section about bg-[#f5f4fe]">
  <div class="home-section-content flex gap-11 2md:gap-12 lg:gap-14">
    <div
      class="side-text text-primary opacity-60 hidden leading-none 3md:flex text-6xl xl:text-7xl font-light scale-x-[-1] scale-y-[-1] font-montserrat text-end"
    >
      {markdownify(sideText)}
    </div>
    <div class="main-section flex flex-col gap-8 md:gap-10 lg:gap-12">
      <div class="text-center">
        <h1
          class="first-title text-[4.5rem] 2sm:text-[5rem] md:text-[6rem] 2md:text-[7rem] lg:text-[8.5rem] xl:text-[10rem] leading-none text-transparent bg-clip-text bg-gradient-to-br from-[#F71B35] to-[#FFFAC3] font-montserrat font-extrabold"
        >
          {markdownify(title)}
        </h1>
        <p
          class="second-title text-[1.35rem] 2sm:text-[1.5rem] md:text-[1.8rem] 2md:text-[2.1rem] lg:text-[2.55rem] xl:text-[3.3rem] leading-none text-[#3B3A39] font-extrabold"
        >
          {markdownify(secondTitle)}
        </p>
      </div>
      <div
        class="content grid gap-x-12 gap-y-8 md:gap-y-10 2md:gap-y-14 grid-cols-[1fr] 2md:grid-cols-[1fr_min-content] grid-rows-[1fr_auto_auto] 2md:grid-rows-[1fr_auto]"
      >
        <div
          class="description font-medium order-2 2md:row-start-1"
          set:html={markdownifyBlock(description)}
        />
        <div class="bottom-group flex flex-col h-[900px] 2sm:h-[200px] xl:h-[250px] gap-[4.75rem] 2sm:gap-11 md:gap-12 lg:gap-14 2sm:flex-row my-4 2md:my-0 order-3 items-center 2md:row-start-2">
          {main_links_group.map((link: any) => <MainLink link={link} />)}
        </div>
        <div
          class="about-info-section flex flex-col 2sm:flex-row 2md:flex-col gap-4 p-5 2sm:gap-6 2sm:p-6 2md:gap-4 2md:p-4 order-1 2md:max-w-[150px] items-center h-fit self-center overflow-ellipsis bg-white border-red-500/60 border-[1px] shadow-medium-2 rounded-lg 2md:col-start-2 2md:row-span-2"
        >
          <div
            class="info-head leading-none flex-shrink-0 max-w-[unset] 2sm:max-w-[125px] 2md:max-w-[unset] text-[1.5rem] 2md:w-full line-clamp-1 2sm:line-clamp-2 text-center overflow-hidden overflow-ellipsis font-bold text-primary"
          >
            {info_section.title}
          </div>
          <div class="info-body w-full flex flex-row 2md:flex-col gap-[1.125rem] 2sm:gap-4">
            {
              info_section.infos.map((info: {title: string, icon: string}) => (
                <div class="info-body-item w-full cursor-pointer transition-all duration-[250ms] hover:scale-[1.075] flex flex-col justify-center items-center gap-[10px] bg-white rounded-md shadow-small-2 p-3 leading-none">
                  <i class={`${info.icon} text-[1.25rem] text-primary`} />
                  <div class="font-medium wrap-all text-[1.1rem] text-center w-full line-clamp-2 overflow-hidden overflow-ellipsis">
                    {markdownify(info.title)}
                  </div>
                </div>
              ))
            }
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<style>
  .side-text {
    writing-mode: vertical-rl;
  }
  
</style>
