---
import { markdownify, slugify } from "@/lib/utils/textConverter";
import { readCategoryImagesWithFallback } from "@/lib/utils/categoriesImageMapper";
import { capitalize } from "@/lib/utils/textConverter";

const explore_categories = Astro.props.explore_categories || {
  title: "Explore Categories",
};
const title = explore_categories.title || "Explore Categories";

const categoriesImageMap = await readCategoryImagesWithFallback();
const categories = Object.keys(categoriesImageMap);
const categoriesUpToNine = categories.slice(0, 9);
import { Image } from "astro:assets";
import { FaChevronCircleRight, FaChevronRight } from "react-icons/fa";

const categoriesLength = categories.length;
const showMoreColSpan =
  categoriesLength % 3 === 0 ? 3 : (9 - categoriesLength) % 3;
const showMoreColSpanStyle = {
  "grid-column": `span ${showMoreColSpan}`,
};

const categoriesContainerStyle = {};
---

{
  categoriesLength > 0 && (
    <section class="home-section bg-[#f5f4fe] font-montserrat">
      <div class="home-section-content max-w-[1120px] header-gap flex flex-col items-center">
        <h2 class="home-section-header text-center">{markdownify(title)}</h2>
        <div class="categories-container grid grid-cols-2 2sm:grid-cols-3 w-fit gap-5 2sm:gap-6 md:gap-7">
          {categoriesUpToNine.map((category: string) => {
            return (
              <a
                href={`/categories/${slugify(category)}`}
                class="category relative flex rounded-xl overflow-hidden shadow-md"
              >
                <Image
                  src={
                    categoriesImageMap[category] ||
                    "/images/fallback_images/category_fallback.jpg"
                  }
                  class="category-image transition-all duration-[250ms] ease-in-out object-cover object-center rounded-xl h-[95px]"
                  alt="image"
                  width={352}
                  height={70}
                />
                <div class="category-text-overlay transition-all duration-[250ms] ease-in-out text-center p-4 text-[#ffffff] text-[1.125rem] 2sm:text-[1.25rem] md:text-[1.5rem] font-medium absolute w-full h-full top-0 left-0 flex justify-center items-center bg-[#00000066]">
                  {capitalize(category)}
                </div>
              </a>
            );
          })}
          {
            <a
              href={`/categories`}
              class={`show-more hover:bg-[#f2f2f2] col-span-1 categories-col-span-${showMoreColSpan} h-auto transition-all duration-[250ms] ease-in-out p-4 flex gap-[10px] justify-center items-center rounded-xl overflow-hidden shadow-medium-light`}
            >
              <div class="show-more-text font-medium text-primary text-center text-[1.125rem] 2sm:text-[1.25rem] md:text-[1.5rem]">
                Show More
              </div>
              <FaChevronCircleRight className="icon transition-all duration-[250ms] ease-in-out text-[#615a5a] min-w-5 min-h-5 text-xl" />
            </a>
          }
        </div>
      </div>
    </section>
  )
}

<style>
  .categories-col-span-1 {
    @apply col-[span_2] 2sm:col-[span_1];
  }

  .categories-col-span-2 {
    @apply col-[span_2];
  }

  .categories-col-span-3 {
    @apply col-[span_2] 2sm:col-[span_3];
  }

  .category:hover .category-image {
    transform: scale(1.175);
  }

  .category:hover .category-text-overlay {
    transform: scale(1.075);
    background: #4e4e4e66;
  }

  .show-more:hover .icon {
    transform: translateX(5px);
  }

  /* @media screen and (max-width: 650px) {
    .categories-container {
      gap: 1rem;
    }
  }
  @media screen and (max-width: 470px) {
    .categories-section {
      padding: 4rem 0.75rem;
    }
    .categories-container {
      gap: 0.75rem;
    }
    .category-text-overlay,
    .show-more-text {
      font-size: 0.9rem;
    }
  } */
</style>
