---
import Base from "@/layouts/Base.astro";
import { markdownify } from "@/lib/utils/textConverter";
import { Image } from "astro:assets";
import { getEntryBySlug } from "astro:content";
import ContactFrom from "@/layouts/function-components/ContactForm/ContactForm.jsx";

const entry = await getEntryBySlug("contact", "index");
const contact = entry.data;
const { page_data, content } = contact;
// console.log(page_data);
---

<Base
  title={page_data.title}
  meta_title={page_data.meta_title}
  description={page_data.description}
  image={page_data.image}
  isHomePage={false}
>
  <section class="section pt-0">
    <h1
      class="mt-[100px] p-5 text-center py-11"
      set:html={markdownify(
        page_data?.page_title ? page_data?.page_title : page_data?.title,
      )}
    />
    <ContactFrom client:load content={content} />
  </section>
</Base>
