---
import Base from "@/layouts/Base.astro";
import { getEntry } from "astro:content";
import PageHeader from "@/components/PageHeader.astro";
import Shape from "@/components/Shape.astro";
import JourneyCard from "@/layouts/shortcodes/JourneyCard";
import Badge from "@/layouts/shortcodes/Badge";
import { markdownifyBlock } from "@/lib/utils/textConverter";

const entry = await getEntry("journey", "index");
const journeyData = entry.data;
const { page_data, content: journeys } = journeyData;
---

<Base
  title={page_data.title}
  meta_title={page_data.meta_title}
  description={page_data.description}
  image={page_data.image}
  transparentBackground={false}
>
  <Shape />
  <PageHeader page_data={page_data} />
  <section class="section px-4 sm:px-8 pt-0 pb-[4.5rem] lg:pb-[6rem]">
    <div class="container p-0">
      <div class="content">
        {
          journeys.map((journey: any, index:number) => {
            const { date, items } = journey;
            const isLast = index === journeys.length - 1;
            return (
              <JourneyCard date={date} isLast={isLast}>
                {items.map((item: any) => {
                  const { badge, description } = item;
                  return (
                    <>
                    <div class="journeys-content-inner">
                      <Badge color={badge.color} iconClass={badge.icon}>{badge.text}</Badge>
                      <div set:html={markdownifyBlock(description)} class="flex flex-col gap-4" />
                    </div>
                    </>
                  );
                })}
              </JourneyCard>
            );
          })
        }
      </div>
    </div>
  </section>
</Base>
